/* 自定义侧边栏背景色 */
.sidebar {
	background-color: #CCE8CF; /* 替换为你想要的颜色 */
}
/* 自定义侧边栏文字颜色 */
.sidebar a {
	color: #d87a7a; /* 替换为你想要的文字颜色 */
}
/* 表格 */
table {
    border-collapse: collapse; /* 合并边框 */
    width: 100%; /* 设置表格宽度 */
}
th, td {
    border: 1px solid #000; /* 设置单元格边框 */
    padding: 2px; /* 单元格内边距 */
    text-align: center; /* 文本水平居中 */
}
blockquote {
    border-left: 3px solid #007acc !important; /* 边框颜色和宽度 */
    padding: 5px 10px !important; /* 内边距 */
    margin: 10px 0 !important; /* 外边距 */
    background-color: #f9f9f9 !important; /* 背景颜色 */
    color: #333 !important; /* 字体颜色 */
    font-size: 0.7em !important; /* 设置字体大小为主体字体的90% */
    line-height: 1.4 !important; /* 行高 */
}
